.navigation {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: var(--gray);
}

.logout {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--offBlack);
    font-size: 0.75rem;
    cursor: pointer;
    background: var(--white);
    color: var(--black);
    transition-property: transform;
    transition-duration: 300ms;
    font-weight: bold;
}

.logout:hover {
    color: var(--gray);
    border-color: var(--gray);
}
